{% extends 'base.html' %}

{% block title %}
Main Page
{% endblock title %}

{% block body %}


<div class="container mt-5">

    <p><h1>Welcome to Deadliner!</h1></p><br>

    <h3 class="font-weight-light">
        <p>Empower your study group to excel with our intuitive scheduling platform. Say goodbye to missed deadlines and disorganized study sessions – our platform makes it easy to coordinate schedules, set deadlines, and stay on track towards academic success.</p>

    <p>Features:<br>
        <ul>
            <li>Effortlessly create and manage study schedules for your group</li>
            <li>Set deadlines for assignments, projects, and exams</li>
            <li>Collaborate with group members in real-time</li>
            <li>Receive automated reminders for upcoming deadlines</li>
            <li>Access your schedule anytime, anywhere, from any device</li>
            <li>With Deadliner, you can streamline your study group's workflow and maximize productivity</li>
        </ul>
    </p>

    <p>Sign up now to take your study sessions to the next level!</p>
    </h3>
</div>


{% endblock body %}